.heroContainer{
    width: 100%;
    display: flex;
    gap: 50px;
    padding: 20px;
}

.heroImg{
    width: 50%;
}

.heroText{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

